body {
    background-color: #325176;
    font-family: Arial, Helvetica, Sans-serif;
    font-weight: lighter;
}

.title {
    font-size: x-large;
    color: #000000;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 80px;
}