.image-content {
	color: #000000;

	margin-top: 80px;
	margin-left: 25px;
	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: nowrap;
}

.image-content img {
	width: 1000px;
	height: 563px;
	cursor: pointer;
	border: 1px solid #000000;
}

.right {
	width: 180px;
	margin-left: 30px;
}

.favourite-tag {
	font-size: large;
}

.right favourite {
	display: inline-block;
	cursor: pointer;
}

.right .date {
	margin-top: 30px;
}

.right .size {
	margin-top: 10px;
}

.right .tags-section {
	margin-top: 20px;
}

.right .tags-title {
	font-size: medium;
}

.right .tags {
	color: #FFFFFF;
	border: 1px solid #A31919;
	background-color: #A31919;
	border-radius: 5px;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
	display: inline-block;
	margin-top: 3px;
	margin-right: 3px;
	cursor: pointer;
}