<header></header>

<div class="image-content">
	<div class="left">
		<img src="{{image.wallpaper.image.original.url}}" ng-click="openImage()" />
	</div>

	<div class="right">
		<favourite ng-click="toggleFavourites()" id="{{id}}"></favourite>
		
		<div class="date">Created:<br/>{{image.wallpaper.created_at | date:'medium'}}</div>
		<div class="tags-section">
			<div class="tags-title">Tags:</div>
			<div class="tags" ng-repeat="tag in image.wallpaper.tags" ng-click="searchTag(tag.name)">{{tag.name}}</div>
		</div>
	</div>
</div>